@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .MuiInputBase-input {
  background: #2c2c2c;
  color: #fff;
  border-radius: 4px;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #143896 !important;
}
.css-1qltlow-MuiTabs-indicator {
  background-color: #143896 !important;
}

*,
.MuiButtonBase-root,
.btn {
  font-family: "NotoSans" !important;
}

.login_box_wrap {
  max-height: 84vh;
  overflow-y: auto;
}
}
