@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input {
  height: 40px;
  box-sizing: border-box;
}
.dark .MuiInputBase-input {
  background: #2c2c2c;
  color: #fff;
  border-radius: 4px;
}
*,
.MuiButtonBase-root,
.btn {
  font-family: "NotoSans" !important;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 4px;
}
*::-webkit-scrollbar-track {
  background: #d8d8d8;
  border-radius: 4px;
}
.dark *::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 4px;
}
.dark *::-webkit-scrollbar-track {
  background: #5d5d5d;
  border-radius: 4px;
}

.login_box_wrap {
  max-height: 84vh;
  overflow-y: auto;
}

.gnb_menu .depth2 > ul > li:not(:has(> a)) {
  padding: 0.5rem 1rem;
}
.gnb_menu .depth2 > ul > li:has(> a) {
  padding: 0;
}
.gnb_menu .depth2 > ul > li > a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}
.gnb_menu .depth3 a {
  display: block;
  padding: 0.5rem 1rem;
}
.dark .MuiDialog-paper {
  background: #000;
}
.dark .MuiOutlinedInput-root {
  background: #2c2c2c;
}
.dark .MuiTableCell-root {
  border-bottom-color: #374151;
}
.dark .MuiPaginationItem-root {
  color: white;
}

.MuiPaper-root {
  box-shadow: none !important;
}

.MuiBox-root .MuiSimpleTreeView-root {
  box-shadow: none;
  padding: 0;
}
.MuiTreeItem-content {
  padding: 6px 4px;
  border-radius: 0;
}
.tree-depth2 .MuiTreeItem-label {
  font-size: 15px;
}
.MuiTreeItem-content.Mui-selected {
  color: #4b5563;
  background: #e5e7eb;
}

.dark .MuiTreeItem-content:hover {
  color: #fff;
  background: #1f2937;
}
.dark .MuiTreeItem-content.Mui-selected {
  color: #fff;
  background: #253447;
}

.code_wrap .MuiFormControl-root {
  margin-top: 0;
}
